.card-body {

}

.card {
    width: 80%;
}

.card-title {
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Galada', cursive;
}

.card-subtitle {
    font-size: 13px;
    color: #6c757d;
}

p {
    line-height: 1.5;
}

a {
    color: #ccc;
    text-decoration: none;
}

a:hover {
    opacity: .5;
}