
h1 {
    margin-bottom: 0;
}
.company-name .duration {
    color: #6c757d;
    font-size: 4rem;
}

.duration {
    display: block;
    margin-top: 1rem;
}

.company-detail {
 padding-left: 12px;   
}
