h1 {
    font-family: 'Galada', cursive;
    font-size: 3rem;
    font-weight: 700;
}

.company-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

@media screen and (max-width: 500px) {
    .company-container {
        grid-template-columns: 1fr;
    }
}