.nav-bar {
    color: #ccc;;
}

.nav-links {
    padding-top: 2rem;
}

.nav-links ul {
    display: grid;
    justify-content: center;
    grid-template-rows: minmax(100px, auto);
    grid-template-columns: (8, 1fr);
    /* flex-direction: column; */
    /* align-items: center; */
    align-items: center;
    justify-items: center;
}

.nav-links ul > li {
    list-style: none;
    line-height: 1.5;
    font-size: 3rem;
    font-family: 'Dancing Script','Galada', cursive;
    letter-spacing: 1.1rem;
}

.social-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.social-icons ul {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 5px;
    justify-items: center;
    align-items: center;
    grid-template-areas: ". GitHub LinkedIn FaceBook Twitter Instagram . .";
    /* justify-content: center; */
}

.social-icons ul > li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    border: 1px solid #ccc;
    padding: 12px;
}

.social-icons ul > li:nth-child(1) {
    grid-area: GitHub;
}

.social-icons ul > li:nth-child(2) {
    grid-area: LinkedIn;
}

.social-icons ul > li:nth-child(3) {
    grid-area: FaceBook;
}

.social-icons ul > li:nth-child(4) {
    grid-area: Twitter;
}

.social-icons ul > li:nth-child(5) {
    grid-area: Instagram;
}

.social-icons ul > li:hover  {
    border: 1px solid gray;
}

.social-icons ul > li a {
    text-decoration: none;
}